<div class="roboIndx">
  <a href="/index/{{id}}">
    <img class="picSml" src="{{avatar}}" alt="Player Picture">
    <h3 style="text-align: center">{{name}}</h3>
    <p class="small" style="text-align: center">{{position}} | {{team}}{{^team}}<span class="unemployed">No Team Yet</span>{{/team}}</p>
  </a>
</div>
