<div class="playaIndx">
  <a href="/detail_edit/{{_id}}">
    <img class="picSml" src="{{avatar}}" alt="Player Picture">
    <h3 style="text-align: center">{{name}}</h3>
    <p class="small" style="text-align: center">{{position}} | {{team}}{{^team}}<span class="noTeam">No Team Yet</span>{{/team}}</p>
  </a>
</div>
