<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles.css">
    <title>Index</title>
  </head>
  <body>
    <header>
      <ul class="nav nav-pills">
        <li class="active"><a href="/">Index</a></li>
        <li><a href="/add_player">Add a Player</a></li>
      </ul>
    </header>
    <div class="container">
      {{#playas}}
        {{>_playerIndex}}
      {{/playas}}
    </div>
  </body>
</html>
