.container {
  margin: 1em auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.roboIndx {
  margin: 1em auto;
  padding: .5em;
  border: 3px solid #000;
  width: 22%;
}
.picSml {
  height: 9em;
  width: 7em;
  display: flex;
  margin: 1em auto;
}
h3 {
  color: blue;
  margin: 1em;
}
.small {
  margin: 1em;
}
.unemployed {
  color: red;
  font-weight: 600;
  margin: 1em;
}
.mainProfile {
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  padding-left: 4em;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 0;
}
.picBig {
  border: 1px solid gray;
  border-radius: 50%;
  display: flex;
  margin: auto 3em;
}
.about {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  margin-left: 2em;
}
.edAndSkill {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.edu {
  width: 44%;
  display: flex;
  flex-flow: row;
  align-items: center;
}
.edu p {
  margin-bottom: 12px;
}

.info {
  width: 44%;
  display: flex;
  flex-flow: row;
  /*align-items: flex-start;*/
}
.edu h3, .info h3 {
  color: #000;
}

ul {
  list-style: none;
  margin-top: 18px;
  margin-left: 0;
}
a {
  color:inherit;
  text-decoration: none;
}
header {
  padding: 2em 0;
  background-color: #69809E;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
header ul {
  margin-top: 0;
}

/*FOR REGISTER PAGE*/
.signupSection {
  margin: 1em auto;
  width: 80%;
  padding: 2em;
  background-color: #69809E;
}
.signupSection form {
  padding: 2em;
  background-color: #D3D9E1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----- LOGIN SECTION -----*/
.loginSection {
  margin: 1em auto;
  width: 80%;
  padding: 2em;
  background-color: #69809E;
}
.loginSection form {
  padding: 2em;
  background-color: #D3D9E1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*----- LOGOUT ------*/
.logout {
  color: red;
}

/*----- INPUT -------*/
input {
  margin: 1em;
  font-size: 1em;
  padding: .5em;
  width: 30%;
}

/*-------- BUTTON ----------*/
button {
  font-size: 1.25em;
  color: #fff;
  background-color: #69809E;
  border: none;
  padding: .5em .75em;
  border-radius: 10px;
}
button:focus {
  outline: none;
}
button:hover {
  background-color: #D3D9E1;
  color: #000;
}
button:active {
  background-color: green;
}

/*_playerDetail.mustache*/
legend {
  width: auto;
  border: none;
  font-size: 1em;
  padding: 0 .5em;
  margin-bottom: 0;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove;
    margin-bottom: .75em;
}
input[name='picture'] {
  width: 40em;
}
input[name="state"], input[name="zip"] {
  width: 15%;
}


/*----- fin -----*/
